body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 90vh;
}



.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.star-rating {
  display: inline-block;
}

.star {
  font-size: 18px;
  color: #FF9900;

}

.full-star::before {
  content: '\2605';
}

.half-star::before {
  content: '\00BD';
}

.empty-star::before {
  content: '\2606';
}


.search {
  display: flex;
}

.search-btn {
  margin-left: 10px;
}


@media (max-width: 768px) {
  .custom-navbar {
    margin-top: 20px;

  }

}